@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72%,
  90%,
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
.about-google,
.google-products {
  position: absolute;
  top: 24096.3px;
  left: 364px;
  line-height: 26px;
}
.about-google {
  top: 24095.8px;
  left: 219px;
  font-size: 18px;
  line-height: 28px;
}
.google {
  position: absolute;
  top: 24090px;
  left: 82px;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  font-family: var(--font-epilogue);
  color: #171a1f;
}
.follow-us,
.privacy {
  position: absolute;
  top: 23819.5px;
  left: 82px;
  line-height: 26px;
}
.privacy {
  top: 24097.5px;
  left: 534px;
}
.gemini,
.gemini1 {
  left: 1px;
  color: var(--color-silver);
}
.gemini {
  position: absolute;
  top: 10680.5px;
  line-height: 26px;
}
.gemini1 {
  top: 8381.5px;
}
.gemini1,
.gemini2,
.terms {
  position: absolute;
  line-height: 26px;
}
.gemini2 {
  top: 13274.5px;
  left: 1px;
  color: var(--color-silver);
}
.terms {
  top: 24097.5px;
  left: 621px;
  color: #9095a0;
}
.gemini-is-built {
  top: 210px;
  left: 74px;
  line-height: 74px;
  display: inline-block;
  text-align: center;
  width: 1066px;
  height: 320px;
}
.b.animate,
.gemini-is-built.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.b,
.div,
.gemini-is-built {
  position: absolute;
  opacity: 0;
}
.b {
  top: 56px;
  left: 477px;
  font-size: 83px;
  line-height: 108px;
  color: var(--color-steelblue-100);
}
.div {
  top: 611px;
  left: 890px;
  font-size: var(--font-size-xl);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 283px;
  height: 58px;
}
.div.animate {
  animation: 1s ease 0s 1 normal forwards bounce-in-top;
}
.gemini-is-built-from-the-groun-parent {
  position: absolute;
  top: 1151px;
  left: 0;
  width: 1212px;
  height: 816px;
  overflow: hidden;
  font-size: 40px;
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.capabilities,
.hands-on,
.the-gemini-era {
  position: absolute;
  top: 19px;
  left: 270px;
  line-height: 26px;
  cursor: pointer;
}
.capabilities:hover {
  color: var(--color-white);
}
.capabilities:active {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.hands-on,
.the-gemini-era {
  top: 18.5px;
  left: 32px;
}
.capabilities:active,
.the-gemini-era:hover {
  color: var(--color-white);
}
.the-gemini-era:active {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.hands-on {
  top: 19px;
  left: 428px;
}
.hands-on:active,
.hands-on:hover,
.the-gemini-era:active {
  color: var(--color-white);
}
.hands-on:active {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.container-25 {
  position: absolute;
  top: 558px;
  left: 314px;
  border-radius: 30px;
  background-color: #454345;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 541px;
  height: 60px;
  opacity: 0;
  color: var(--color-dimgray);
}
.container-25.animate,
.welcome-tothe-gemini-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.apex-ai {
  color: var(--color-steelblue-100);
}
.google-deepmind,
.welcome-tothe-gemini-container {
  position: absolute;
  font-family: var(--font-epilogue);
}
.welcome-tothe-gemini-container {
  top: 233px;
  left: 175px;
  font-size: 96px;
  line-height: 182px;
  display: inline-block;
  text-align: center;
  width: 852px;
  height: 248px;
  opacity: 0;
}
.google-deepmind {
  top: 18px;
  left: 69px;
  font-size: 23px;
  line-height: 36px;
}
.about,
.technologies {
  position: absolute;
  top: 28px;
  left: 1066px;
  line-height: 26px;
  cursor: pointer;
}
.technologies:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.technologies:active {
  color: #309dcc;
}
.about {
  left: 953px;
}
.about:hover,
.technologies:active {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about:active {
  color: #3598ca;
}
.bringing-gemini-pro {
  position: absolute;
  top: 46px;
  left: 245px;
  line-height: 94px;
}
.experience-gemini-pro {
  position: absolute;
  top: 140px;
  left: 510px;
  font-size: var(--font-size-xl);
  line-height: 30px;
  text-align: left;
}
.container-32,
.div1 {
  position: absolute;
  opacity: 0;
}
.container-32 {
  top: 670px;
  left: 69px;
  border-radius: var(--br-247xl);
  background-color: var(--color-cornflowerblue);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 1079px;
  height: 226px;
  text-align: center;
  font-size: var(--font-size-53xl);
  font-family: var(--font-epilogue);
}
.container-32.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.container-32:hover {
  animation: 1s ease 1s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
.div1 {
  top: 513px;
  left: 834px;
  font-size: var(--font-size-xl);
  line-height: 26px;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 283px;
  height: 58px;
}
.div1.animate {
  animation: 1s ease 0s 1 normal forwards bounce-in-top;
}
.container-25-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1212px;
  height: 1066px;
  overflow: hidden;
  color: var(--color-white);
}
.bringing-gemini-pro1 {
  position: absolute;
  top: 40px;
  left: 386px;
  line-height: 94px;
}
.import-speech-recognition {
  margin: 0;
}
.experience-gemini-pro-container {
  position: absolute;
  top: 141px;
  left: 88px;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  display: inline-block;
  text-align: left;
  width: 941px;
  height: 507px;
}
.container-33 {
  position: absolute;
  top: 109px;
  left: 56px;
  border-radius: var(--br-247xl);
  background-color: var(--color-cornflowerblue);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 1132px;
  height: 691px;
}
.container-33-wrapper {
  position: absolute;
  top: 2053px;
  left: 0;
  width: 1211px;
  height: 927px;
  overflow: hidden;
  opacity: 1;
  text-align: center;
  font-size: var(--font-size-53xl);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.container-33-wrapper.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.type-1-closely-match-the-orig {
  position: relative;
  background-color: #060606;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 2980px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 420px) {
  .technologies {
    color: #26c7e7;
  }
}
