body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-epilogue: Epilogue;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-53xl: 72px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-cornflowerblue: #6c84d4;
  --color-white: #fff;
  --color-steelblue-100: #799cd1;
  --color-steelblue-200: #5182b6;
  --color-dimgray: #565e6c;
  --color-silver: #bcc1ca;

  /* Border radiuses */
  --br-247xl: 266px;
}
